html,
body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  /* line-height */
  font-weight: 100;
  font-size: .8734928349234rem;
  color: #000000;
  
}

* {
  margin: 0;
  padding: 0;
}
.grid { 
  position: relative;
  /* margin-top: 1px; */
}
#in-production{ 
  background: #ffffff;
 
}
#in-development { 
  background: #eaf6fc !important;
}

#welcome-section, #projects, #contact { 
  padding-bottom: 5rem !important;
}
#description { 
  background: #eaf6fc;

}

#welcome-section {
  font-family: inherit;
  top: 0;
  background: #eaf6fc;
  /* min-height: 55vh; */
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

/* Typewriter section  */

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

#footer { 
  background: orange;
}